<h1>Recent</h1>
{{#get "posts" limit="15"}}
  <ul>
    {{#foreach posts}}
      <li class="single-post {{post_class}}">
        <a href="{{url}}">{{title}}</a>
      </li>
    {{/foreach}}
  </ul>
{{/get}}
