body {
  font-family: $fontFamily;
  font-size: 14px;

  @include mq('sm') {
    font-size: 16px;
  }
}

code[class*="language-"],
pre[class*="language-"] {
  font-family: $codeFontFamily;
}

p, li {
  line-height: 1.45;
}

a {
  text-decoration: none;
}
