body {
  font-family: $bodyFontFamily;
  font-weight: $bodyFontWeight;
  font-size: 16px;

  @include mq('md') {
    font-size: 18px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $titleFontFamily;
  font-weight: $titleFontWeight;
}

code[class*="language-"],
pre[class*="language-"] {
  font-family: $codeFontFamily;
}

p, li {
  line-height: 1.45;
}

a {
  text-decoration: none;
}
