.layout-header {
  grid-area: header;
}

.layout-content {
  grid-area: content;
}

.layout-sidebar {
  grid-area: sidebar;
  @include mq('xl') {
    padding-left: 50px;
  }
}

.layout-footer {
  grid-area: footer;
  margin-top: $verticalGutter;
  text-align: center;
}

body {
  display: grid;
  padding: 20px;
  grid-template-columns: 100%;
  grid-template-areas:
    "header"
    "content"
    "sidebar"
    "footer";

  @include mq('md') {
    grid-template-columns: $leftGutter / 2 $columnWidth auto;
    grid-gap: 10px;
    grid-template-areas:
    "......  header   header"
    "......  content  sidebar"
    "footer  footer   footer";
  }
  
  @include mq('xl') {
    grid-template-columns: $leftGutter $columnWidth auto;
  }
}
