.layout-content {
  grid-area: content;
  padding: $verticalGutter $horizontalGutter;
}

.layout-sidebar {
  grid-area: sidebar;
  border-right: 1px solid palette('darkgray');
  padding: $verticalGutter $horizontalGutter;
}

.layout-footer {
  grid-area: footer;
  margin-top: $verticalGutter;
  text-align: center;
}

body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    "sidebar"
    "content"
    "footer";

  @include mq('md') {
    grid-template-columns: $sidebarWidth $columnWidth;
    grid-template-areas:
    "sidebar  content"
    "footer   footer";
  }

  @include mq('xl') {
    grid-template-columns: $sidebarWidth $columnWidth;
  }
}
