.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-content {
  display: none;

  @include mq('lg') {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
  }
}

.sidebar-content.active {
  display: flex;
  flex-direction: column;
}

.sidebar-widgets {
  flex-grow: 1;

  .widget {
    margin-top: $verticalGutter;
  }

  ul {
    padding: 0;
  }

  ul li {
    list-style: none;
    margin: 12px auto;
  }
}

.sidebar-footer {
  margin: $verticalGutter 0;

  .poweredby {
    color: palette('hint');

    a {
      color: palette('label');
    }
  }
}
