// $bodyFontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$bodyFontFamily: 'Noto Serif', serif;
$bodyFontWeight: 400;

$titleFontFamily: 'Source Sans Pro', sans-serif;
$titleFontWeight: 700;

$codeFontFamily: 'Monaco', 'Consolas', Monospace;

$colors: (
  "white"    : #fff,
  "label"    : #3b3b3b,
  "darkgray" : #1a1a1a,
  "highlight": #fffb00,
  "accent"   : #235aa1
);

$breakpoints: (
  "sm" : 480px,
  "md": 768px,
  "lg" : 1024px,
  "xl" : 1200px
);

$sidebarWidth: 350px;
$contentWidth: 540px;
$contentGutter: 80px;
$verticalGutter: 40px;
$horizontalGutter: 40px;
